<div ng-include="'views/commons/header.html'"></div>
<div ng-include="'views/commons/categoryMenu.html'"></div>

<section class="dashboard-user-page">
  <div class="side-menu">

    <ul class="nav">
      <li>
        <i class="fa fa-heart" aria-hidden="true"></i> Favourites
      </li>
      <li>
        <i class="fa fa-map-signs" aria-hidden="true"></i> Nearest Offers
      </li>
      <li>
        <i class="fa fa-cog" aria-hidden="true"></i> Settings
      </li>
    </ul>
  </div>
  <div class="container-fluid" id="dashboard-user-container">
    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="" ng-repeat="i in num">
            <div class="card">
              <nav class="fabContainer"  >

                <a href="#" class="buttons"></a>

                <a href="#" class="buttons"></a>

                <a href="#" class="buttons"></a>

                <a class="buttons hover-btn" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>

              </nav>
              <div class="image">
                <img src="{{'images/'+i+'.jpg'}}" width="100%">
              </div>

              <div class="text">
                <h3>40% Off For Every Item amer lsad fasd asd</h3>
                <div class="brand clearfix">
                  <img class="pull-left" src="{{'images/brands/'+brands[$index]}}"/>
                </div>
                <div class=" offer-end">
                  <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Offer Ending: 12/09/2017
                </div>
              </div>

            </div>
          </div>

        </div><!-- end card box -->
      </div>
    </div>
  </div>
</section>
