<section class="categoryMenu">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav">

          <li>
            <a href="">Women</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Men</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Food</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Gadgets/Accessories</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Medical</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Education</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Cars/Automobile</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">IT/Telecommunication</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Home/Living</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Health/Beauty</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
          <li>
            <a href="">Travel</a>
            <ul class="hide">
              <li>
                Dress
              </li>
              <li>
                Bags
              </li>
              <li>
                Hats
              </li>
              <li>
                Muslim Cloths
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
