<div clss="">
  <div class="result-header">
    <div class="row">
      <div class="col-sm-6 text-left">
        <p>123 Matched Item found</p>
      </div>
      <div class="col-sm-6 text-right">
        <button class="xo-btn ripple"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="reslut-body">
    <div class="" ng-repeat="i in num">
      <div class="card">
        <nav class="fabContainer"  >

          <a href="#" class="buttons"></a>

          <a href="#" class="buttons"></a>

          <a href="#" class="buttons"></a>

          <a class="buttons hover-btn" href=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>

        </nav>
        <div class="image">
          <img src="{{'images/'+i+'.jpg'}}" width="100%">
        </div>

        <div class="text">
          <h3>40% Off For Every Item amer lsad fasd asd</h3>
          <div class="brand clearfix">
            <img class="pull-left" src="{{'images/brands/'+brands[$index]}}"/>
          </div>
          <div class=" offer-end">
            <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Offer Ending: 12/09/2017
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
