<section id="header" class="header bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="module mod-logo border-d-r pull-left">
                    <h1 class="margin-none">XOOFFER</h1>
                </div>
                <!--// end module logo-->
            </div>
            <div class="col-md-2">
                <div class="module mod-surf pull-left">
                    <a class="surf btn-surf" href="#">
                        <i class="fa fa-bars"></i>Surf</a>
                </div>
                <!--// end module logo-->
            </div>
            <div class="col-md-2">
                <div class="module mod-info text-center">
                    <span>

                        Bangladesh
                        <!-- <img src="images/bd.png" height="20px" width="20px" alt="" class="img-rounded center-block pull-right"> -->
                    </span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="module type-nav">
                    <ul class="nav">
                        <li><span>2331</span> Offers</li>
                        <li><span>123</span> Markets</li>
                        <li><span>893</span> Brands</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <div class="mod-user">
                    <img class="img-circle" src="images/user.png" alt=":|">
                    <ul class="nav xo-nav dropdown">
                      <li>
                        <a href="#/login">Log in</a>
                      </li>
                      <li>
                        <a href="#/register">Register</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
