<div class="row">
  <div class="col-sm-12">
    <input type="text" placeholder="keyword search"  />
  </div>
  <div class="col-sm-12 box">
    <h4>Categories</h4>
    <ul class="nav primary-category">
      <li>
        Women's Fashion (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Men's Fashion (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Food Restaurent (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Gadgets/Accessories (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Medical (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Education (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Cars/Automobile (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        IT/Telecommunication (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Home/Living (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Health/Beauty (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
      <li>
        Travel (2313)
        <ul class="hide">
          <li>
            Dress
          </li>
          <li>
            Bags
          </li>
          <li>
            Hats
          </li>
          <li>
            Muslim Cloths
          </li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="col-sm-12">
    <h4>District</h4>
    <input type="text" />
    <ul class="nav">
      <li>
        <input type="checkbox" name="vehicle1" value="Bike"> Adidas
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> Nike
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <h4>Brands</h4>
    <input type="text" />
    <ul class="nav">
      <li>
        <input type="checkbox" name="vehicle1" value="Bike"> Adidas
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> Nike
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <h4>Shopping Mall</h4>
    <input type="text" />
    <ul class="nav">
      <li>
        <input type="checkbox" name="vehicle1" value="Bike"> Adidas
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> Nike
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
      <li>
        <input type="checkbox" name="vehicle2" value="Car"> I have a car
      </li>
    </ul>
  </div>
</div>
