<div ng-include="'views/commons/header.html'"></div>
<div ng-include="'views/commons/categoryMenu.html'"></div>
<section class="single-category-section breadcrumbs" id="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a>Home</a>
          </li>
          <li class="breadcrumb-item active">
            Womens's Fashion
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="single-category-section highlited-offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="images/6.jpg" />
      </div>
      <div class="col-sm-4">
        <img src="images/6.jpg" />
      </div>
      <div class="col-sm-4">
        <img src="images/6.jpg" />
      </div>
    </div>
  </div>
</section>
<section class="single-category-section highlighted-brand">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img src="images/brands/1.png"/>
      </div>
      <div class="col-sm-2">
        <img src="images/brands/1.png"/>
      </div>
      <div class="col-sm-2">
        <img src="images/brands/1.png"/>
      </div>
      <div class="col-sm-2">
        <img src="images/brands/1.png"/>
      </div>
      <div class="col-sm-2">
        <img src="images/brands/1.png"/>
      </div>
      <div class="col-sm-2">
        <img src="images/brands/1.png"/>
      </div>
    </div>
  </div>
</section>
<section class="single-category-section search-list-view">
  <div class="container">
    <div class="">
      <div class="side-filter-widget">
        <div ng-include="'views/commons/sideFilterWidget.html'"></div>
      </div>
    </div>
    <div class="">
      <div class="filtered-result">
        <div class="">
            <div ng-include="'views/commons/filteredResult.html'"></div>
        </div>
      </div>
    </div>

  </div>
</section>
