<div ng-include="'views/commons/header.html'"></div>
<div ng-include="'views/commons/categoryMenu.html'"></div>
<section class="single-brand-section breadcrumbs" id="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a>Bangladesh</a>
          </li>
          <li class="breadcrumb-item">
            <a>Dhaka</a>
          </li>
          <li class="breadcrumb-item">
            <a>Womens's Fashion</a>
          </li>
          <li class="breadcrumb-item active">
            Giorgio Armani
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="single-brand-section single-item-details" id="single-brand-details">
  <div class="container">
    <div class="col-sm-12">
      <div class="row xo-border-bottom">
        <div class="col-md-8 col-sm-12">
          <div class="brand-image clearfix">
            <img src="images/brands/8.png" class="pull-left" />
            <div class="pull-left margin-left-5">
              <h3 class="margin-0">Giorgio Armani</h3>
              <p class="margin-0">
                Estd. 2012
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-right">
          <button class="xo-btn ripple bg-primary"><i class="fa fa-heart-o" aria-hidden="true"></i> Add To Favorite</button>
          <p class="margin-0">
            <i class="fa fa-phone" aria-hidden="true"></i> +601 1233 12123 <i class="fa fa-envelope margin-left-5" aria-hidden="true"></i> support@armani.com
          </p>
        </div>
      </div>

      <div class="row">
        <div class='col-md-5 col-sm-12'>
          <div class="row">
            <div class="col-sm-12 social-icons">
              <span>Share Giorgio Armani with your friends and family</span>
              <ul class="nav">
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
          <div class="focused-image">
            <img src="images/armani/4.jpg" />
          </div>
          <div class="image-list margin-top-5">
            <slick infinite="true" slides-to-show="4" slides-to-scroll="1">
              <div>
                <img src="images/armani/1.png" />
              </div>
              <div>
                <img src="images/armani/6.jpg" />
              </div>
              <div>
                <img src="images/armani/5.jpg" />
              </div>
              <div>
                <img src="images/armani/4.jpg" />
              </div>
              <div>
                <img src="images/armani/2.jpg" />
              </div>
              <div>
                <img src="images/armani/3.jpg" />
              </div>
              <div>
                <img src="images/armani/7.jpeg" />
              </div>
            </slick>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">

          <div class="margin-top-5">
            <strong>About:</strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div class="margin-top-5">
            <strong>Services/Products:</strong>
            <ul class="product-details nav">
              <li>
                Men's shirts
              </li>
              <li>
                Men's suits
              </li>
              <li>
                Women's bags
              </li>
              <li>
                Women's Clothing
              </li>
              <li>
                perfumes,colonge
              </li>
              <li>
                Shades
              </li>
            </ul>
          </div>
          <div class="margin-top-5">
            <strong>Main Branch: </strong>
            <address>
              123, 5th avenue, IOI City Mall,
              Cyberjaya,Selangor<br />
              +51233 123123, asdasd@asd.com
            </address>
          </div>
          <div class="margin-top-5">
            <strong>Other Branches: </strong>
            <ul class="nav">
              <li>
                <h5>IOI Branch</h5>
                123, 5th avenue, IOI City Mall,
                Cyberjaya,Selangor<br />
                +51233 123123, asdasd@asd.com
              </li>
              <li>
                <h5>City Branch</h5>
                123, 5th avenue, IOI City Mall,
                Cyberjaya,Selangor<br />
                +51233 123123, asdasd@asd.com
              </li>
            </ul>
          </div>
          <div class="margin-top-5">
            <strong>Number Of Offers:</strong> 6
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-offer-section margin-top-20" id="single-offer-related-offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h5><i>Offers From Giorgio Armani</i></h5>
        </div>
      </div>
      <div class="col-sm-12">
        <slick infinite="true" slides-to-show="4" slides-to-scroll="1">
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
          <div class="deals-card">
            <div class="deals-body">
              <img src="images/4.jpg" class="" />
              <div class="">
                <p>40% off in every item at Cats Eye</p>
              </div>
            </div>
          </div>
        </slick>
      </div>
    </div>
  </div>
</section>

<section class="single-offer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5><i>Branch Location</i></h5>
        <div class="" id="single-brand-map"></div>
      </div>
    </div>
  </div>
</section>
